@font-face {
  font-family: 'SV Basic Manual';
  src: url('fonts/SVBasicManual.ttf');
  format: ('truetype');
}

@font-face {
  font-family: 'Unispace';
  src: url('fonts/unispace rg.ttf');
  format: ('truetype');
}

@font-face {
  font-family: 'Calculator';
  src: url('fonts/Calculator.ttf');
  format: ('truetype');
}

body {
  margin:0;
  padding:0;
  font-family: 'SV Basic Manual', Unispace, monospace;
}
.container {
  overflow:hidden;
  width:860px;
  padding: 50px;
}

/* html border of the entire application */ 
div#calculator {
	margin: 0 auto;
  margin-top: 50px;
	width: 400px;
	height: 710px;
	padding: 10px;
	border: 2px solid black;
  border-collapse: separate;
  border-spacing: 8px;
}

#row1, #row2, #row3, #row4, #row5 {
  display: table-row;
}

/* where to write output */
div#display {
	width: 100%;
	height: 108px;
	border: 1px solid black;
  font-family: 'Calculator', monospace;
  line-height: 108px;
  font-size:100px;
  vertical-align: text-top;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.button {
  width:88px;
  height:108px;
  border: 1px solid black;
  text-align: center;
  display: table-cell;
  position: relative;
}

div.button span {
  line-height: 108px;
	font-size: 2.8em;
  font-family: Unispace, 'SV Basic Manual', monospace;
}

/*all single digits*/
div.nums {
  background-color:#ccc;
}

/* + - * / = clear */
div.operation, div#equals, div#clr {
  background-color:#808080;
}

.help {
  outline: 2px dotted red;
  background: green;
  position: absolute;
  top: -15px;
  height: 54px;
  width: 44px;
  font-style: italic;
}

h4 {
  text-align:right;
  font-family: 'SV Basic Manual';
}

p {
  margin-top: 20px;
  font-size: .75em;
  font-family: 'SV Basic Manual';
}