@import 'variables.less';

#calculator {
  width: @main-width;
	height: 39.4rem;
  padding: 0.5rem;
	margin: 0 auto;
 	font-size: 2.8em;
	border: 2px solid black;
  border-collapse: separate;
  border-spacing: 0.5rem;

  & > div {
    width: 100%; 
    //outline: 2px dashed blue;
  }
  //@media (max-width: 540px), (max-height: 400px) {
  @media (max-width: @base-portrait-width) and (orientation: portrait), (max-height: @base-landscape-height) and (orientation: landscape) {
	  width: 96%;
	  height: 80%;
    margin: 0 auto;
    font-size: 1.3rem;
  }
  //@media (orientation: portrait) {
  //  background-color: red; 
  //}

  //@media (orientation: landscape) {
  //  background-color: green; 
  //}
}

#row1, #row2, #row3, #row4, #row5 {
  display: table-row;
}

#display {
	height: 6rem;
  overflow: hidden;
  font-family: @calculator, monospace;
  font-size: 5.5rem;
  line-height: 6rem;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: text-top;
	border: 1px solid black;

  //@media (max-width: 540px), (max-height: 400px) {
  @media (max-width: @base-portrait-width) and (orientation: portrait), (max-height: @base-landscape-height) and (orientation: landscape) {
    font-size: 2rem;
    height: 3rem;
    line-height:3rem;
  }
}

.button {
  position: relative;
  display: table-cell;
  width: 4.9rem;
  height: 6rem;
  text-align: center;
  border: 1px solid black;

  //@media (max-width: 540px) {
  @media (max-width: @base-portrait-width) and (orientation: portrait) {
    height:25%;
    padding: 0.5rem;
  }
  //@media (max-height: 448px) {
  @media (max-height: @base-landscape-height) and (orientation: landscape) {
    height: inherit;
  }

  // text inside of any button
  & span {
    font-family: @unispace;
    line-height: 6rem;
    //@media (max-width: 540px) {
    @media (max-width: @base-portrait-width) and (orientation: portrait) {
      line-height: 3rem;
      vertical-align: middle;
    }
    //@media (max-height: 400px) {
    @media (max-height: @base-landscape-height) and (orientation: landscape) {
      line-height: 3rem; 
    }
  }
}

// any number
.nums {
  background-color: @lighter-grey;
}

// addition, subtraction, multiplication, division, equals, clear
.operation {
  background-color: @grey;
}

.clickActive {
  color: white;
  background-color: black; 
}

// clr button and equals button
.util {
  background-color: @darker-grey;
}

td.lastButton {
  colspan: 2;
  background-color: red;
}
