@svb: 'sv-basic-manual';
@unispace: 'unispace';
@calculator: 'calculator';

@arial: 'arial';
@times: 'Times New Roman';
@mob: 'Mobilize BRK';
@courier-new: 'Courier New';
@monospace: 'monospace';

body {
  padding: 0;
  margin: 0;
  font-family: @svb;
}

.container {
  width:860px;
  padding: 50px;
  overflow:hidden;
}

h4 {
  text-align:right;
}

p {
  margin-top: 20px;
  font-size: .75em;
}

.help {
  position: absolute;
  top: -15px;
  width: 44px;
  height: 54px;
  font-style: italic;
  background: green;
  outline: 2px dotted red;
}
