// example from munity
@font-face {
  font-family: "Vinea Egypt Bold Italic";
  src: url("./fonts/vinea_egypt/vinea_egypt_bold_italic-webfont.eot?#iefix") format("embedded-opentype"),
       url("./fonts/vinea_egypt/vinea_egypt_bold_italic-webfont.woff") format("woff"),
       url("./fonts/vinea_egypt/vinea_egypt_bold_italic-webfont.ttf") format("truetype"),
       url("./fonts/vinea_egypt/vinea_egypt_bold_italic-webfont.svg#svgFontName") format("svg");
}

@font-face {
  font-family: 'SV Basic Manual';
  src: url('./fonts/SVBasicManual/SVBasicManual.ttf') format('truetype'),
}

@font-face {
  font-family: 'Unispace';
  src: url('./fonts/unispace/unispace.ttf') format('truetype'),
}

@font-face {
  font-family: 'Calculator';
  src: url('./fonts/Calculator/Calculator.ttf') format('truetype'),
}

@base-font-size: 18px;
@mobile-font-size: 22px;
