@base-font-size: 18px;
@mobile-font-size: 22px;

// example
@font-face {
  font-family: 'your font name here!';
  src: url('.eot?#iefix') format('embedded-opentype'),
       url('.woff') format('woff'),
       url('.ttf') format('truetype'),
       url('.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'SVBasicManual';
  //src: url('./fonts/SVBasicManual/SVBasicManual.ttf') format('truetype'),
  src: url('.eot?#iefix') format('embedded-opentype'),
       url('.woff') format('woff'),
       url('.ttf') format('truetype'),
       url('.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'Unispace';
  //src: url('./fonts/unispace/unispace.ttf') format('truetype'),
  src: url('.eot?#iefix') format('embedded-opentype'),
       url('.woff') format('woff'),
       url('.ttf') format('truetype'),
       url('.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'Calculator';
  //src: url('./fonts/Calculator/Calculator.ttf') format('truetype'),
  src: url('.eot?#iefix') format('embedded-opentype'),
       url('.woff') format('woff'),
       url('.ttf') format('truetype'),
       url('.svg#svgFontName') format('svg');
}
